[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multIntTestFunc"]
	path = multIntTestFunc
	url = https://github.com/klausherrmann/multinttestfunc
	subdir = multIntTestFunc
